@using SGC___Vista.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Inicio de sesion</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <link href="~/Content/blue.css" rel="stylesheet" />
    <link href="~/Content/Sans Pro.css" rel="stylesheet" />
   
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a>SGC - <b>LAFRAM</b></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Inicia sesion para continuar!</p>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true,"",new { @class = "text-danger" })
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", @placeholder ="Nombre de Usuario" })
                        @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                        <span class="fa fa-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <span class="fa fa-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <div class="checkbox icheck">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe) ¿Recordar Cuenta?
                                </label>                                
                            </div>
                        </div>
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar sesión</button>
                        </div>
                    </div>                    
            }
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass   : 'iradio_square-blue',
      increaseArea : '20%' // optional
    })
  })
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}