@model SGC___Modelo.FormatoGestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormatoGestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProcesoGestion.codigoProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoGestion.codigoProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCodigoFG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
