@model SGC___Modelo.Cargo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cargo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargoDisponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargoDisponible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCargo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
