@model SGC___Modelo.ProcesoGestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProcesoGestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigoProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.significado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.significado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProceso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
