@model IEnumerable<SGC___Modelo.ProcesoGestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigoProceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.significado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigoProceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.significado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProceso }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProceso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProceso })
        </td>
    </tr>
}

</table>
