@model IEnumerable<SGC___Modelo.FormatoPlantilla>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FormatoGestion.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obsoleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solicitudCambio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FormatoGestion.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obsoleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solicitudCambio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idFormato }) |
            @Html.ActionLink("Details", "Details", new { id=item.idFormato }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idFormato })
        </td>
    </tr>
}

</table>
